main h1 {
    display: flex;
    align-items: center;

    gap: .5rem;
}

main > h1 .iconify {
    cursor: pointer;
}

.columns {
    display: flex;

    gap: 5rem;
    width: 100%;

    margin-top: 2rem;
}

.columns section {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 1.2rem 1.2rem;

    height: fit-content;
	max-height: 70vh;
    width: 20vw;

    background-color: #DFDFDF;
    border-radius: 10px;
}

section > button {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;

    margin-top: 1rem;

    padding-inline: .5rem;

    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;

    font-size: .95rem;
    color: var(--text);

    transition: .5s;
}

section > button:hover {
    background-color: #c2c2c2;
}

.tasksContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    width: 100%;
    margin-top: 1rem;
	overflow: auto;
}

.tasksContainer > div {
    cursor: pointer;
    user-select: none;

    width: 100%;

    border-radius: 10px;
    background-color: #FFF;

    padding: 1rem;
}

.tasksContainer .draggable {
	outline: 2px dashed var(--text);
    outline-offset: -3px;

	background-color: transparent;
}

.draggable h4 {
	visibility: hidden;
}

.description, .endDate {
	flex-direction: column;
	align-items: start;

	border: 0;
}

.description textarea {
	width: 100%;
	padding: .8rem;

    font-size: 1.1rem;
	color: var(--text);

	border: 2px solid #00000050;
    border-radius: 10px;
	
	resize: none;
	
	outline: 0;
}

.endDate input {
	border: 2px solid #00000050;
	border-radius: 10px;

	outline: 0;
}

.endDate input::-webkit-calendar-picker-indicator {
	cursor: pointer;
	background: url('https://api.iconify.design/fa6-regular/calendar.svg?color=rgba(0%2C%200%2C%200%2C%200.3137254901960784)') no-repeat center center / contain;
}
